* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.container .cat img{
    width: 50px;
}

.content {
    position: relative;
    max-width: 800px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}



p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-container {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover {
    transform: scale(1.1);
}

.image-container:active {
    transform: scale(0.9);
}

.animations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.heart, .flower {
    position: absolute;
    width: 50px;
    height: 50px;
    background: pink;
    border-radius: 50%;
    opacity: 0;
    animation: floatHeart 6s infinite;
}

.heart {
    background-color: #ff5e79;
    transform: rotate(-45deg);
}

.heart::before, .heart::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff5e79;
    border-radius: 50%;
}

.heart::before {
    top: -25px;
    left: 0;
}

.heart::after {
    left: 25px;
    top: 0;
}

.flower {
    background: #ffccff;
    transform: scale(1.2);
    animation: floatFlower 8s infinite;
    opacity: 0;
}

@keyframes floatHeart {
    0% {
        transform: scale(0.5) rotate(-45deg);
        top: 100%;
        left: calc(50% - 25px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(-45deg);
        top: -10%;
        left: calc(50% - 25px);
        opacity: 0;
    }
}

@keyframes floatFlower {
    0% {
        top: 110vh;
        left: calc(80% - 25px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: -20vh;
        left: calc(20% - 25px);
        opacity: 0;
    }
}

.heart:nth-child(1) {
    left: 30%;
    animation-delay: 0s;
}

.heart:nth-child(2) {
    left: 50%;
    animation-delay: 1.5s;
}

.heart:nth-child(3) {
    left: 70%;
    animation-delay: 3s;
}

.flower:nth-child(4) {
    left: 20%;
    animation-delay: 2s;
}

.flower:nth-child(5) {
    left: 50%;
    animation-delay: 4s;
}

.flower:nth-child(6) {
    left: 80%;
    animation-delay: 6s;
}
